profiles {

  chpc {
    executor {
        name = 'pbspro'
        queue = 'normal'
        queueSize = 10
    }
  }

  local {
    executor {
        name = 'local'
        queueSize = 5
    }
  }

  slurm {
    executor {
        name = 'slurm'
        queue = 'Main'
        queueSize = 30
    }
    process {
        clusterOptions = '--account b16-cbio-ag --partition Main --nodes=1'
        beforeScript = 'module load htslib'
        cpus = 40
        time = { 10.h * task.attempt }
        memory = 10.GB

        withLabel:bcftools_mem {
            cpus = 20
            time = { 30.m * task.attempt }
            memory = 10.GB
        }
        withLabel:plink_mem {
            cpus = 20
            time = { 30.m * task.attempt }
            memory = 10.GB
        }
        withLabel:smcpp_mem {
            cpus = 48
            time = { 24.h * task.attempt }
            memory = 50.GB
        }
    }
  }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/cbio/users/kesoh/containers/"
}


params {
   with_masking = true
   ref = '/cbio/users/kesoh/resources/hg19/hs37d5.fa'
   mask_dir = '/cbio/users/kesoh/resources/hg19/mask/'
   vcf = '/cbio/users/kesoh/kgp/kgp3v5_biallelic_segregating_snps.vcf.gz'
   vcf_dir = '/scratch/eshkev001/projects/scdpopgen/smcpp/vcf/yri/'
   sample_dir = '/users/kesoh/projects/scdpopgen/smcpp/samples/'
   sample_file = '/home/eshkev001/workflows/smcpp/smcsamples/yri.bcf.50samples.txt'
   output_dir = '/cbio/users/kesoh/scdpopgen/smcpp/'
   spline = 'piecewise' // cubic, pchip, piecewise
   mu_rate = 1.66e-08
   generation_time = 29
   popname = 'yri'

   // get VCFs of segregating sites
   anc_sites = '/scratch/eshkev001/db/hg19/1000GENOMES-phase_3_ancestral_alleles.txt.gz'
   vcf_path = '/scratch/eshkev001/imputationReference/kgp/'		// per chromosome vcf files
   sample_path = '/home/eshkev001/workflows/smcpp/segsitessamples/'		// directory containing sample files to process
   output_path = '/scratch/eshkev001/projects/scdpopgen/smcpp/vcf/'
}

process {

    beforeScript = 'module load htslib'
 
    errorStrategy = { task.exitStatus in [38,135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
 
    cpus = 24
    time = 3.h

    clusterOptions = "-P CBBI1243"

    withLabel:smallMemory {
        cpus = 40
        time = { 20.m * task.attempt }
        memory = 10.GB
    }

    withLabel:smcppMem {
        cpus = 48
        time = { 24.h * task.attempt }
        memory = 50.GB
    }

    withLabel:smcpp {
        container = "docker://terhorst/smcpp:latest"
    }
    withLabel:bcftools {
        container = "docker://sickleinafrica/bcftools:1.11"
    }
    withLabel:plink2 {
        container = "docker://sickleinafrica/plink:latest"
    }
}

