profiles {

  chpc {
    executor {
        name = 'pbspro'
        queue = 'normal'
        queueSize = 10
    }
  }

  local {
    executor {
        name = 'local'
        queueSize = 5
    }
  }

  slurm {
    executor {
        name = 'slurm'
        queueSize = 50
    }
    process {
        clusterOptions = '--account awonkam1 --partition parallel'
        beforeScript = 'module load htslib'
        cpus = 24
        time = { 10.h * task.attempt }
        memory = 10.GB

        withLabel:bcftools_mem {
            cpus = 24
            time = { 5.h * task.attempt }
            memory = 10.GB
        }
        withLabel:plink_mem {
            cpus = 24
            time = { 1.h * task.attempt }
            memory = 10.GB
        }
        withLabel:smcpp_mem {
            cpus = 24
            time = { 5.h * task.attempt }
            memory = 60.GB
        }
    }
  }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/vast/awonkam1/containers/"
}


params {
   with_masking = false
   ref = '/vast/awonkam1/resources/hg19/refgenome/hs37d5.fa'
   mask_dir = '/vast/awonkam1/resources/hg19/mask/'
   aa_known = false	// Whether ancestral allele is known.
   vcf = '/data/awonkam1/kesoh/wgs/phased/wgs-genemap.h3a.ggvp.kgp.hg19.eagle2-ids-updated.biallelic.snps.tagsfilled.AAfilled.hdrfixed.AAref.vcf.gz'
   sample_dir = '/home/kesohku1/projects/popgen/smcpp/repsmc/'
   output_dir = '/data/awonkam1/kesoh/scdpopgen/smcpp/'
   use_distinguished_pair = false
   number_dp = 2	// number of distinguished pairs to use
   spline = 'piecewise' // cubic, pchip, piecewise
   mu_rate = 1.25e-08  // 1.66e-08 (Palamara Lab)
   generation_time = 29
   set_timepoints = true
   tp_from = 17		// begin timepoint in generations if set_timepoints is 'true'
   tp_to = 40000	// end timepoint in generations
   popname = 'multi-pop'

   //vcf_dir = '/scratch/eshkev001/projects/scdpopgen/smcpp/vcf/yri/'
   //sample_file = '/home/eshkev001/workflows/smcpp/smcsamples/yri.bcf.50samples.txt'


   // get VCFs of segregating sites
   anc_sites = '/scratch/eshkev001/db/hg19/1000GENOMES-phase_3_ancestral_alleles.txt.gz'
   vcf_path = '/scratch/eshkev001/imputationReference/kgp/'		// per chromosome vcf files
   sample_path = '/home/eshkev001/workflows/smcpp/segsitessamples/'		// directory containing sample files to process
   output_path = '/scratch/eshkev001/projects/scdpopgen/smcpp/vcf/'
}

process {

    // ERROR HANDLING
    errorStrategy = { task.exitStatus in [1,2,4,5,6,126,127,134,135,136,137,139,140,143,245,247,249,250,255] ? 'retry' : 'ignore' }
    //errorStrategy = { task.exitStatus in 3 ? 'ignore' : 'retry' }
    maxErrors = '-1'
    maxRetries = 21

    withLabel:smallMemory {
        cpus = 40
        time = { 20.m * task.attempt }
        memory = 10.GB
    }

    withLabel:smcppMem {
        cpus = 48
        time = { 48.h * task.attempt }
        memory = 60.GB
    }

    withLabel:estimateMem {
        cpus = 48
        time = { 5.h * task.attempt }
        memory = 60.GB
    }

    withLabel:plotMem {
        cpus = 10
        time = { 1.h * task.attempt }
        memory = 5.GB
    }

    withLabel:smcpp {
        container = "docker://terhorst/smcpp:latest"
    }
    withLabel:bcftools {
        container = "docker://sickleinafrica/bcftools:1.11"
    }
    withLabel:plink2 {
        container = "docker://sickleinafrica/plink:latest"
    }
}

